.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #000000;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  outline: none;
  justify-self: flex-end;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
